<div class="container--avatar">
    <div class="container__row--avatar">
      <img src="../../../assets/page-1.png" alt="avatar">
    </div>
    <div class="container__row--title">
      <div class="container--title-text">Front-end Challenge!</div>
    </div>
    <div class="container__row--text">
      <div class="container--text">This is a design that you will need to code up and impress us.</div>
    </div>
    <div class="container__row--show-panel">
      <img [ngClass]="{'rotate_forward': editingUserAccount, 'rotate_back': !editingUserAccount}"
        src="../../../assets/group-3.png" alt="avatar" (click)="editUserAccount()">
    </div>
</div>
