<div class="container--blurb-panel">
  <div class="container_row">
    <div class="container--user-blurb">
      <div class="container__row">
        <div class="container--user-blurb-title">My world today</div>
      </div>
      <div class="container__row--user-blurb-text">
        <div class="container--blurb-text">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
          <b><u>View all days</u></b> eu libero sit amet quam egestas semper.
          Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
          Quisque sit amet est et sapien ullamcorper pharetra.
          Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
          Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
          Donec non enim in turpis pulvinar facilisis. Ut felis.
          Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
          Aliquam erat
        </div>
      </div>
    </div>
  </div>
</div>
