.container, .container--window, .container--landing, .container--account-form, .container__label--form, .container__label--form-input-invalid, .container__input--form, .container__button, .container--blurb-panel, .container--user-blurb, .container--user-blurb-title, .container--blurb-text, .container--avatar, .container--title-text, .container--text {
  margin: 0 auto; }

.container--fluid {
  margin: 0;
  max-width: 100%; }

.container__row, .container__row--landing, .container__row--form-input-row, .container__row--form-divider, .container__row--user-blurb-text, .container__row--avatar, .container__row--title, .container__row--text, .container__row--show-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.container__col-1 {
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%; }

.container__col-2 {
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%; }

.container__col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.container__col-4 {
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%; }

.container__col-5 {
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%; }

.container__col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.container__col-7 {
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%; }

.container__col-8 {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%; }

.container__col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%; }

.container__col-10 {
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%; }

.container__col-11 {
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%; }

.container__col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

@media screen and (min-width: 320px) {
  .container, .container--window, .container--landing, .container--account-form, .container__label--form, .container__label--form-input-invalid, .container__input--form, .container__button, .container--blurb-panel, .container--user-blurb, .container--user-blurb-title, .container--blurb-text, .container--avatar, .container--title-text, .container--text {
    max-width: 320px; }
    .container__col-sm-1 {
      -ms-flex-preferred-size: 8.33333333%;
          flex-basis: 8.33333333%; }
    .container__col-sm-2 {
      -ms-flex-preferred-size: 16.66666667%;
          flex-basis: 16.66666667%; }
    .container__col-sm-3 {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }
    .container__col-sm-4 {
      -ms-flex-preferred-size: 33.33333333%;
          flex-basis: 33.33333333%; }
    .container__col-sm-5 {
      -ms-flex-preferred-size: 41.66666667%;
          flex-basis: 41.66666667%; }
    .container__col-sm-6 {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .container__col-sm-7 {
      -ms-flex-preferred-size: 58.33333333%;
          flex-basis: 58.33333333%; }
    .container__col-sm-8 {
      -ms-flex-preferred-size: 66.66666667%;
          flex-basis: 66.66666667%; }
    .container__col-sm-9 {
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%; }
    .container__col-sm-10 {
      -ms-flex-preferred-size: 83.33333333%;
          flex-basis: 83.33333333%; }
    .container__col-sm-11 {
      -ms-flex-preferred-size: 91.66666667%;
          flex-basis: 91.66666667%; }
    .container__col-sm-12 {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

@media screen and (min-width: 1024px) {
  .container, .container--window, .container--landing, .container--account-form, .container__label--form, .container__label--form-input-invalid, .container__input--form, .container__button, .container--blurb-panel, .container--user-blurb, .container--user-blurb-title, .container--blurb-text, .container--avatar, .container--title-text, .container--text {
    max-width: 1024px; }
    .container__col-md-1 {
      -ms-flex-preferred-size: 8.33333333%;
          flex-basis: 8.33333333%; }
    .container__col-md-2 {
      -ms-flex-preferred-size: 16.66666667%;
          flex-basis: 16.66666667%; }
    .container__col-md-3 {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }
    .container__col-md-4 {
      -ms-flex-preferred-size: 33.33333333%;
          flex-basis: 33.33333333%; }
    .container__col-md-5 {
      -ms-flex-preferred-size: 41.66666667%;
          flex-basis: 41.66666667%; }
    .container__col-md-6 {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .container__col-md-7 {
      -ms-flex-preferred-size: 58.33333333%;
          flex-basis: 58.33333333%; }
    .container__col-md-8 {
      -ms-flex-preferred-size: 66.66666667%;
          flex-basis: 66.66666667%; }
    .container__col-md-9 {
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%; }
    .container__col-md-10 {
      -ms-flex-preferred-size: 83.33333333%;
          flex-basis: 83.33333333%; }
    .container__col-md-11 {
      -ms-flex-preferred-size: 91.66666667%;
          flex-basis: 91.66666667%; }
    .container__col-md-12 {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

@media screen and (min-width: 1440px) {
  .container, .container--window, .container--landing, .container--account-form, .container__label--form, .container__label--form-input-invalid, .container__input--form, .container__button, .container--blurb-panel, .container--user-blurb, .container--user-blurb-title, .container--blurb-text, .container--avatar, .container--title-text, .container--text {
    max-width: 1440px; }
    .container__col-lg-1 {
      -ms-flex-preferred-size: 8.33333333%;
          flex-basis: 8.33333333%; }
    .container__col-lg-2 {
      -ms-flex-preferred-size: 16.66666667%;
          flex-basis: 16.66666667%; }
    .container__col-lg-3 {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }
    .container__col-lg-4 {
      -ms-flex-preferred-size: 33.33333333%;
          flex-basis: 33.33333333%; }
    .container__col-lg-5 {
      -ms-flex-preferred-size: 41.66666667%;
          flex-basis: 41.66666667%; }
    .container__col-lg-6 {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .container__col-lg-7 {
      -ms-flex-preferred-size: 58.33333333%;
          flex-basis: 58.33333333%; }
    .container__col-lg-8 {
      -ms-flex-preferred-size: 66.66666667%;
          flex-basis: 66.66666667%; }
    .container__col-lg-9 {
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%; }
    .container__col-lg-10 {
      -ms-flex-preferred-size: 83.33333333%;
          flex-basis: 83.33333333%; }
    .container__col-lg-11 {
      -ms-flex-preferred-size: 91.66666667%;
          flex-basis: 91.66666667%; }
    .container__col-lg-12 {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

[type="date"] {
  background: #fff url("../assets/calender.png") 96% 50% no-repeat;
  cursor: pointer; }

[type="date"]::-webkit-inner-spin-button {
  display: none; }

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; }

.container--window {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 98vh; }

.container--landing {
  height: 892px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff; }

@media (min-width: 1440px) {
    .container--landing {
      width: 1360px;
      border-radius: 42.5px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container--landing {
      width: 975px;
      border-radius: 42.5px; } }

@media (max-width: 1023px) {
    .container--landing {
      width: 320px; } }

@media (min-width: 1024px) {
  .container__row--mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; } }

.container__row--landing {
  height: 892px; }

.lift-left {
  position: relative;
  height: 892px;
  z-index: 10; }

/* Lift right pane z-index during runtime */

@media (min-width: 1440px) {
  .lift-right {
    position: absolute;
    z-index: 5;
    width: calc(1360 / (12 / 7) * 1px);
    height: 892px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .lift-right {
    position: absolute;
    z-index: 5;
    width: calc(975 / (12 / 7) * 1px);
    height: 892px; } }

@media (max-width: 1023px) {
  .lift-right {
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 892px; } }

/* Container for the account form */

.container--account-form {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box; }

@media (min-width: 1440px) {
    .container--account-form {
      padding-top: 100px;
      border-top-right-radius: 42.5px;
      border-bottom-right-radius: 42.5px;
      padding-left: 12%;
      padding-right: 15%; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container--account-form {
      border-top-right-radius: 42.5px;
      border-bottom-right-radius: 42.5px;
      padding-top: 100px;
      padding-left: 19px;
      padding-right: 39.1px; } }

@media (max-width: 1023px) {
    .container--account-form {
      padding-top: 20px;
      padding-left: 7px;
      padding-right: 20px; } }

/* Div span */

.span {
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* Div label */

.label {
  padding-left: 5px; }

/* Form input invalid style modifier applied to the form labels and inputs */

.form-input-invalid {
  height: 8px;
  width: 8px;
  background-color: #ff9200;
  border-radius: 50%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: left; }

/* Row hight extender mobile */

@media (max-width: 1023px) {
  .row-extender {
    height: 185px; } }

/* Form input row which can contain a label and input element */

@media (min-width: 1024px) {
  .container__row--form-input-row {
    height: 75px; } }

@media (max-width: 1023px) {
  .container__row--form-input-row {
    height: 95px; } }

/* Form row divider to create empty row space */

@media (min-width: 1024px) {
  .container__row--form-divider {
    height: 75px; } }

@media (max-width: 1023px) {
  .container__row--form-divider {
    height: 0px; } }

/* Form row divider to create empty row space on mobile device */

@media (max-width: 1023px) {
  .container__row--form-divider-mobile {
    height: 50px; } }

/* Form label styling */

.container__label--form {
  margin-left: 12px;
  font-family: Arial;
  font-size: 16px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: left;
  color: #373d40; }

@media (min-width: 1024px) {
    .container__label--form {
      height: 53px; } }

@media (max-width: 1023px) {
    .container__label--form {
      padding-bottom: 5px; } }

/* Form label styling for invalid input */

.container__label--form-input-invalid {
  color: #ff9200; }

/* Form input styling */

.container__input--form {
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 16.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #b1bfcd;
  border-radius: 5.3px;
  border: solid 1.2px #f5f8f9;
  outline: none;
  background-color: rgba(245, 248, 249, 0.3); }

@media (min-width: 1024px) {
    .container__input--form {
      height: 53px;
      width: 100%; } }

@media (max-width: 1023px) {
    .container__input--form {
      width: 280px;
      height: 46px; } }

/* Form input styling on focus */

.container__input--form:focus {
  color: #373d40;
  border: solid 1.2px #cad7dd; }

/* Form label error dot styling */

.account-form__label-error-dot {
  height: 8px;
  width: 8px;
  margin-right: 2px;
  background-color: #ff9200;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top; }

/* Form input styling for invalid input */

.form__input--invalid {
  border-radius: 5.3px;
  color: #ff9200;
  border: solid 1.2px #ff9200; }

/* Form input styling on focus */

.form__input--invalid:focus {
  border-radius: 5.3px;
  color: #ff9200;
  border: solid 1.2px #ff9200; }

/* Form input subscript styling on input error */

.form__input--error {
  width: 100%;
  font-family: Arial;
  font-size: 12px;
  text-align: right;
  color: #ff9200; }

@media (min-width: 1024px) {
    .form__input--error {
      padding-top: 1.4px;
      padding-bottom: 6.6px; } }

@media (max-width: 1023px) {
    .form__input--error {
      padding-top: 1px;
      padding-bottom: 3px; } }

/* Selectable input badge styling when unselected */

.input-badge--unselected {
  float: left;
  cursor: pointer;
  background-color: #f5f8f9;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

@media (min-width: 1024px) {
    .input-badge--unselected {
      height: 53px;
      width: 53px; } }

@media (max-width: 1023px) {
    .input-badge--unselected {
      margin-left: 10px;
      height: 46px;
      width: 46px; } }

/* Selectable input badge styling when unselected */

.input-badge--selected {
  float: left;
  cursor: pointer;
  background-color: #b1bfcd;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

@media (min-width: 1024px) {
    .input-badge--selected {
      height: 53px;
      width: 53px; } }

@media (max-width: 1023px) {
    .input-badge--selected {
      margin-left: 10px;
      height: 46px;
      width: 46px; } }

/* Selectable input badge label styling */

.input-badge__label {
  float: left;
  font-family: Arial;
  font-size: 14px;
  line-height: 53px;
  color: #b1bfcd; }

@media (min-width: 1440px) {
    .input-badge__label {
      padding-left: 18px;
      width: 15%; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .input-badge__label {
      padding-left: 12px;
      width: 15%; } }

@media (max-width: 1023px) {
    .input-badge__label {
      padding-left: 20px; } }

/* Form button container */

.container__button {
  margin-bottom: 10px; }

@media (min-width: 1024px) {
    .container__button {
      padding-left: 10px;
      padding-right: 10px; } }

/* Base button styling */

.button, .button--cancel, .button--submit {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5.3px;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  transition: 0.25s; }

@media (min-width: 1024px) {
    .button, .button--cancel, .button--submit {
      height: 53px; } }

@media (max-width: 1023px) {
    .button, .button--cancel, .button--submit {
      height: 46px; } }

/* Cancel button styling */

.button--cancel {
  background-color: #f5f8f9;
  color: #373d40; }

/* Cancel button styling on hover */

.button--cancel:hover {
  background-color: #dadcdc; }

/* Submit button styling */

.button--submit {
  background-color: #49c8a8;
  color: #ffffff; }

/* Submit button styling on hover */

.button--submit:hover {
  background-color: #3f9e86; }

/* Submit button styling when disabled */

.button--submit:disabled {
  opacity: 0.6;
  cursor: not-allowed; }

/* Induced invisibility during runtime to ensure no form deformation when becoming visible */

.invisible {
  visibility: hidden; }

/* Container for the blurb panel */

.container--blurb-panel {
  width: 100%;
  height: 100%;
  background-color: #ff9200; }

@media (min-width: 1440px) {
    .container--blurb-panel {
      border-top-right-radius: 42.5px;
      border-bottom-right-radius: 42.5px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container--blurb-panel {
      border-top-right-radius: 42.5px;
      border-bottom-right-radius: 42.5px; } }

/* Container for the blurb */

@media (min-width: 1440px) {
  .container--user-blurb {
    padding-top: 161px;
    padding-left: 106.5px;
    padding-right: 124px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .container--user-blurb {
    padding-top: 164px;
    padding-left: 82px;
    padding-right: 81px; } }

@media (max-width: 1023px) {
  .container--user-blurb {
    padding-top: 69px;
    padding-left: 20px;
    padding-right: 37px; } }

/* Container for the blurb title */

.container--user-blurb-title {
  font-family: Arial;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #383838; }

/* Container row for the blurb text */

.container__row--user-blurb-text {
  width: 100%; }

@media (min-width: 1440px) {
    .container__row--user-blurb-text {
      padding-top: 44.1px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container__row--user-blurb-text {
      padding-top: 44px; } }

@media (max-width: 1023px) {
    .container__row--user-blurb-text {
      padding-top: 21px; } }

/* Container for the blurb text */

.container--blurb-text {
  font-family: Arial;
  font-size: 18px;
  line-height: 1.53;
  text-align: left;
  color: #383838; }

/* Blurb text styling */

.user-blurb__text-style {
  font-weight: bold;
  text-decoration: underline; }

/* Avatar landing container */

.container--avatar {
  width: 100%;
  height: 100%;
  background-color: #ffd500; }

@media (min-width: 1024px) {
    .container--avatar {
      border-top-left-radius: 42.5px;
      border-bottom-left-radius: 42.5px; } }

/* Avatar landing container row */

.container__row--avatar {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer; }

@media (min-width: 1440px) {
    .container__row--avatar {
      padding-top: 161px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container__row--avatar {
      padding-top: 115px; } }

@media (max-width: 1023px) {
    .container__row--avatar {
      padding-top: 115px; } }

/* Container row for a title */

@media (min-width: 1440px) {
  .container__row--title {
    padding-top: 117px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .container__row--title {
    padding-top: 100px; } }

@media (max-width: 1023px) {
  .container__row--title {
    padding-top: 93px; } }

/* Container title */

.container--title-text {
  font-family: Arial;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #383838; }

@media (min-width: 1440px) {
    .container--title-text {
      font-size: 36px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container--title-text {
      font-size: 24px; } }

@media (max-width: 1023px) {
    .container--title-text {
      font-size: 36px; } }

/* Container row for text */

.container__row--text {
  width: 100%; }

@media (min-width: 1440px) {
    .container__row--text {
      padding-top: 17px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container__row--text {
      padding-top: 22px; } }

@media (max-width: 1023px) {
    .container__row--text {
      padding-top: 24px; } }

/* Container text */

.container--text {
  font-family: Arial;
  text-align: center;
  color: #383838; }

@media (min-width: 1440px) {
    .container--text {
      padding-left: 100px;
      padding-right: 100.8px;
      height: 55.3px;
      font-size: 22px;
      line-height: 1.26; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container--text {
      padding-left: 41px;
      padding-right: 40px;
      height: 55.3px;
      font-size: 18px;
      line-height: 1.53; } }

@media (max-width: 1023px) {
    .container--text {
      padding-left: 27px;
      padding-right: 27px;
      height: 82.9px;
      font-size: 22px;
      line-height: 1.26; } }

/* Container row for account panel selector */

.container__row--show-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  width: 100%; }

@media (min-width: 1440px) {
    .container__row--show-panel {
      padding-top: 76.8px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
    .container__row--show-panel {
      padding-top: 110.8px; } }

@media (max-width: 1023px) {
    .container__row--show-panel {
      padding-top: 42.1px; } }

/* Account panel selector image rotation to indicate account panel is active */

@media (min-width: 1024px) {
  .rotate_forward {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); } }

@media (max-width: 1023px) {
  .rotate_forward {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); } }

/* Account panel selector image rotation to indicate account panel is not active */

@media (min-width: 1024px) {
  .rotate_back {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@media (max-width: 1023px) {
  .rotate_back {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); } }


/*# sourceMappingURL=styles.css.map*/
