<div class="container--landing">
  <div class="container__row">
      <div class="container__col-md-5 container__col-lg-5 lift-left">
        <div class="container__row--landing">
          <tc-landing-avatar></tc-landing-avatar>
        </div>
      </div>
      <div class="container__col-md-7 container__col-lg-7">
        <div class="container__row--landing">
          <div *ngIf="accountEditingActive && !mobileDevice()" [@slideInOutX] class="lift-right">
            <tc-edit-user-account></tc-edit-user-account>
          </div>
          <div *ngIf="accountEditingActive  && mobileDevice()" [@slideInOutY] class="lift-right">
             <tc-edit-user-account></tc-edit-user-account>
          </div>
          <tc-view-user-blurb></tc-view-user-blurb>
        </div>
      </div>
    </div>
</div>
