  <form [formGroup]="userAccountForm" (ngSubmit)="submitUserAccountDetails()" class="container--account-form">

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form"
          [ngClass]="{'container__label--form-input-invalid': userAccountForm.get('userName').invalid && userAccountForm.get('userName').touched}">
          <div class="span">
            <div class="form-input-invalid"
              [ngClass]="{'invisible': !(userAccountForm.get('userName').invalid && userAccountForm.get('userName').touched)}">
            </div>
            <div class="label">Name</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-9 container__col-lg-9">
        <div class="container__row">
          <input class="container__input--form"
            [ngClass]="{'form__input--invalid': userAccountForm.get('userName').invalid && userAccountForm.get('userName').touched}"
            type="text" formControlName="userName">
        </div>
        <div class="container__row">
          <div class="form__input--error"
            [ngClass]="{'invisible': !userAccountForm.get('userName').invalid || !userAccountForm.get('userName').touched}">
            Name required</div>
        </div>
      </div>
    </div>

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form">
          <div class="span">
            <div class="form-input-invalid invisible"></div>
            <div class="label">Gender</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-6 container__col-md-3 container__col-lg-3">
        <div [class]="isGenderSelected(genders.male) ? 'input-badge--selected' : 'input-badge--unselected'"
          (click)="selectGender(genders.male)">
          <tc-icon *ngIf="isGenderSelected(genders.male)" name="svg-male-selected" [widthPx]="26" [heightPx]="26">
          </tc-icon>
          <tc-icon *ngIf="!isGenderSelected(genders.male)" name="svg-male-unselected" [widthPx]="26" [heightPx]="26">
          </tc-icon>
        </div>
        <label class="input-badge__label" for="">Male</label>
      </div>
      <div class="container__col-sm-6 container__col-md-3 container__col-lg-3">
        <div [class]="isGenderSelected(genders.female) ? 'input-badge--selected' : 'input-badge--unselected'"
          (click)="selectGender(genders.female)">
          <tc-icon *ngIf="isGenderSelected(genders.female)" name="svg-female-selected" [widthPx]="22" [heightPx]="30">
          </tc-icon>
          <tc-icon *ngIf="!isGenderSelected(genders.female)" name="svg-female-unselected" [widthPx]="22"
            [heightPx]="30"></tc-icon>
        </div>
        <label class="input-badge__label" for="">Female</label>
      </div>
    </div>

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form"
          [ngClass]="{'container__label--form-input-invalid': userAccountForm.get('dateOfBirth').invalid && userAccountForm.get('dateOfBirth').touched}">
          <div class="span">
            <div class="form-input-invalid"
              [ngClass]="{'invisible': !(userAccountForm.get('dateOfBirth').invalid && userAccountForm.get('dateOfBirth').touched)}">
            </div>
            <div class="label">Date of Birth</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-9 container__col-lg-9">
        <div class="container__row">
          <input class="container__input--form"
            [ngClass]="{'form__input--invalid': userAccountForm.get('dateOfBirth').invalid && userAccountForm.get('dateOfBirth').touched}"
            type="date" formControlName="dateOfBirth">
        </div>
        <div class="container__row">
          <div class="form__input--error"
            [ngClass]="{'invisible': !userAccountForm.get('dateOfBirth').invalid || !userAccountForm.get('dateOfBirth').touched}">
            Date required</div>
        </div>
      </div>
    </div>

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form"
          [ngClass]="{'container__label--form-input-invalid': userAccountForm.get('emailAddress').invalid && userAccountForm.get('emailAddress').touched}">
          <div class="span">
            <div class="form-input-invalid"
              [ngClass]="{'invisible': !(userAccountForm.get('emailAddress').invalid && userAccountForm.get('emailAddress').touched)}">
            </div>
            <div class="label">Email</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-9 container__col-lg-9">
        <div class="container__row">
          <input class="container__input--form"
            [ngClass]="{'form__input--invalid': userAccountForm.get('emailAddress').invalid && userAccountForm.get('emailAddress').touched}"
            type="email" formControlName="emailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
        <div class="container__row">
          <div class="form__input--error"
            [ngClass]="{'invisible': !userAccountForm.get('emailAddress').invalid || !userAccountForm.get('emailAddress').touched}">
            Invalid email address</div>
        </div>
      </div>
    </div>

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form"
          [ngClass]="{'container__label--form-input-invalid': userAccountForm.get('mobileNumber').invalid && userAccountForm.get('mobileNumber').touched}">
          <div class="span">
            <div class="form-input-invalid"
              [ngClass]="{'invisible': !(userAccountForm.get('mobileNumber').invalid && userAccountForm.get('mobileNumber').touched)}">
            </div>
            <div class="label">Mobile</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-9 container__col-lg-9">
        <div class="container__row">
          <input class="container__input--form"
            [ngClass]="{'form__input--invalid': userAccountForm.get('mobileNumber').invalid && userAccountForm.get('mobileNumber').touched}"
            type="email" formControlName="mobileNumber" pattern="(\+27\s?|0)[6-8][0-9]{8}$">
        </div>
        <div class="container__row">
          <div class="form__input--error"
            [ngClass]="{'invisible': !userAccountForm.get('mobileNumber').invalid || !userAccountForm.get('mobileNumber').touched}">
            Invalid mobile number</div>
        </div>
      </div>
    </div>

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form"
          [ngClass]="{'container__label--form-input-invalid': userAccountForm.get('customerID').invalid && userAccountForm.get('customerID').touched}">
          <div class="span">
            <div class="form-input-invalid"
              [ngClass]="{'invisible': !(userAccountForm.get('customerID').invalid && userAccountForm.get('customerID').touched)}">
            </div>
            <div class="label">Customer ID</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-9 container__col-lg-9">
        <div class="container__row">
          <input class="container__input--form"
            [ngClass]="{'form__input--invalid': userAccountForm.get('customerID').invalid && userAccountForm.get('customerID').touched}"
            type="email" formControlName="customerID" pattern="(\+27\s?|0)[6-8][0-9]{8}$">
        </div>
        <div class="container__row">
          <div class="form__input--error"
            [ngClass]="{'invisible': !userAccountForm.get('mobileNumber').invalid || !userAccountForm.get('mobileNumber').touched}">
            ID required</div>
        </div>
      </div>
    </div>

    <div class="container__row--form-divider"></div>

    <div class="container__row--form-input-row row-extender">
      <div class="container__col-sm-12 container__col-md-3 container__col-lg-3">
        <div class="container__label--form">
          <div class="span">
            <div class="form-input-invalid invisible"></div>
            <div class="label">Membership</div>
          </div>
        </div>
      </div>
      <div class="container__col-sm-6 container__col-md-3 container__col-lg-3">
        <div [class]="isMembershipSelected(memberships.classic) ? 'input-badge--selected' : 'input-badge--unselected'"
          (click)="selectMembership(memberships.classic)">
          <tc-icon *ngIf="isMembershipSelected(memberships.classic)" name="svg-membership-selected" [widthPx]="27"
            [heightPx]="19"></tc-icon>
          <tc-icon *ngIf="!isMembershipSelected(memberships.classic)" name="svg-membership-unselected" [widthPx]="27"
            [heightPx]="19"></tc-icon>
        </div>
        <div class="input-badge__label" for="">Classic</div>
      </div>
      <div class="container__col-sm-6 container__col-md-3 container__col-lg-3">
        <div [class]="isMembershipSelected(memberships.silver) ? 'input-badge--selected' : 'input-badge--unselected'"
          (click)="selectMembership(memberships.silver)">
          <tc-icon *ngIf="isMembershipSelected(memberships.silver)" name="svg-membership-selected" [widthPx]="27"
            [heightPx]="19"></tc-icon>
          <tc-icon *ngIf="!isMembershipSelected(memberships.silver)" name="svg-membership-unselected" [widthPx]="27"
            [heightPx]="19"></tc-icon>
        </div>
        <div class="input-badge__label" for="">Silver</div>
      </div>
      <div class="container__col-sm-6 container__col-md-3 container__col-lg-3">
        <div [class]="isMembershipSelected(memberships.gold) ? 'input-badge--selected' : 'input-badge--unselected'"
          (click)="selectMembership(memberships.gold)">
          <tc-icon *ngIf="isMembershipSelected(memberships.gold)" name="svg-membership-selected" [widthPx]="27"
            [heightPx]="19"></tc-icon>
          <tc-icon *ngIf="!isMembershipSelected(memberships.gold)" name="svg-membership-unselected" [widthPx]="27"
            [heightPx]="19"></tc-icon>
        </div>
        <div class="input-badge__label" for="">Gold</div>
      </div>
    </div>

    <div class="container__row--form-divider container__row--form-divider-mobile"></div>

    <div class="container__row--form-input-row">
      <div class="container__col-sm-12 container__col-md-4 container__col-lg-4"></div>
      <div class="container__col-sm-12 container__col-md-4 container__col-lg-4">
        <div class="container__button">
          <button class="button--cancel" type="button" (click)="cancel()">CANCEL</button>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-4 container__col-lg-4">
        <div class="container__button">
          <button class="button--submit" type="submit" [disabled]="userAccountForm.invalid">SAVE</button>
        </div>
      </div>
    </div>

  </form>
