<div class="icons">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>

      <symbol id="svg-male-unselected" viewBox="0 0 26 26">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>2546FF46-B5D2-40AD-811B-8E144037F177</title>
        <desc>Created with sketchtool.</desc>
        <defs>
          <polyline id="path-1" points="0 0.0696069209 25.335246 0.0696069209 25.335246 25.4241421 0 25.4241421">
          </polyline>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-117.000000, -215.000000)">
            <g id="Page-1" transform="translate(117.000000, 215.000000)">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Clip-2"></g>
              <path
                d="M10.9445992,22.988176 C15.6278476,22.988176 19.4389425,19.1933133 19.4780282,14.5632628 C19.5173992,9.88864866 15.762603,5.93552783 10.956867,5.92705312 C6.25935369,5.91876885 2.43275763,9.74124576 2.43171154,14.4560434 C2.43057036,19.1815059 6.22863669,22.988176 10.9445992,22.988176 M17.7595882,5.87496696 C18.8859414,4.74735388 19.9983152,3.63373837 21.1311352,2.49974545 C20.8379448,2.49974545 20.5500799,2.50364954 20.2623102,2.4986028 C20.0092516,2.49422261 19.7534351,2.50107855 19.5039903,2.46594182 C18.8746247,2.37719538 18.4541917,1.80824688 18.506306,1.14445776 C18.5523339,0.560083376 19.070814,0.0752154676 19.672696,0.0733110375 C21.170316,0.0685499622 22.667936,0.0682642977 24.165461,0.0735014805 C24.7595448,0.0755011321 25.2639502,0.535897114 25.3120704,1.13169808 C25.3425972,1.51010834 25.3344186,1.89223225 25.333848,2.27264216 C25.331851,3.43872472 25.3431678,4.60518817 25.3132116,5.77060419 C25.2960937,6.43848783 24.7387181,6.92307007 24.0902376,6.90612064 C23.4290138,6.88879033 22.9202339,6.36821436 22.9103436,5.69147511 C22.9037817,5.2393634 22.9065396,4.78706125 22.9043523,4.33494954 C22.9042572,4.31990454 22.8953179,4.30504999 22.9062543,4.33904406 C21.8083356,5.43847157 20.6937746,6.55475329 19.5662801,7.68398513 C21.514004,10.2205908 22.2786005,13.1479856 21.7264553,16.3812318 C21.2587581,19.1199928 19.8861934,21.3529371 17.7165083,23.0787317 C13.4267798,26.4908991 7.15119269,26.1399126 3.2876031,22.2872505 C-0.698474081,18.3124192 -1.11082361,12.0731252 2.32967025,7.70845705 C3.54712844,6.16405945 5.06405358,5.00873692 6.89109676,4.27724531 C8.71775954,3.54584892 10.6127986,3.3345524 12.5560528,3.61821726 C14.4991168,3.90188213 16.2412365,4.66974835 17.7595882,5.87496696"
                id="Fill-1" fill="#B1BFCD" mask="url(#mask-2)"></path>
            </g>
          </g>
        </g>
      </symbol>

      <symbol id="svg-male-selected" viewBox="0 0 26 26">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>97E409D3-52DB-4F0D-9A3A-134AD42F54C2</title>
        <desc>Created with sketchtool.</desc>
        <defs>
          <polyline id="path-1" points="0 0.0696069209 25.335246 0.0696069209 25.335246 25.4241421 0 25.4241421">
          </polyline>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-277.000000, -215.000000)">
            <g id="Page-1-Copy" transform="translate(277.000000, 215.000000)">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Clip-2"></g>
              <path
                d="M10.9445992,22.988176 C15.6278476,22.988176 19.4389425,19.1933133 19.4780282,14.5632628 C19.5173992,9.88864866 15.762603,5.93552783 10.956867,5.92705312 C6.25935369,5.91876885 2.43275763,9.74124576 2.43171154,14.4560434 C2.43057036,19.1815059 6.22863669,22.988176 10.9445992,22.988176 M17.7595882,5.87496696 C18.8859414,4.74735388 19.9983152,3.63373837 21.1311352,2.49974545 C20.8379448,2.49974545 20.5500799,2.50364954 20.2623102,2.4986028 C20.0092516,2.49422261 19.7534351,2.50107855 19.5039903,2.46594182 C18.8746247,2.37719538 18.4541917,1.80824688 18.506306,1.14445776 C18.5523339,0.560083376 19.070814,0.0752154676 19.672696,0.0733110375 C21.170316,0.0685499622 22.667936,0.0682642977 24.165461,0.0735014805 C24.7595448,0.0755011321 25.2639502,0.535897114 25.3120704,1.13169808 C25.3425972,1.51010834 25.3344186,1.89223225 25.333848,2.27264216 C25.331851,3.43872472 25.3431678,4.60518817 25.3132116,5.77060419 C25.2960937,6.43848783 24.7387181,6.92307007 24.0902376,6.90612064 C23.4290138,6.88879033 22.9202339,6.36821436 22.9103436,5.69147511 C22.9037817,5.2393634 22.9065396,4.78706125 22.9043523,4.33494954 C22.9042572,4.31990454 22.8953179,4.30504999 22.9062543,4.33904406 C21.8083356,5.43847157 20.6937746,6.55475329 19.5662801,7.68398513 C21.514004,10.2205908 22.2786005,13.1479856 21.7264553,16.3812318 C21.2587581,19.1199928 19.8861934,21.3529371 17.7165083,23.0787317 C13.4267798,26.4908991 7.15119269,26.1399126 3.2876031,22.2872505 C-0.698474081,18.3124192 -1.11082361,12.0731252 2.32967025,7.70845705 C3.54712844,6.16405945 5.06405358,5.00873692 6.89109676,4.27724531 C8.71775954,3.54584892 10.6127986,3.3345524 12.5560528,3.61821726 C14.4991168,3.90188213 16.2412365,4.66974835 17.7595882,5.87496696"
                id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
            </g>
          </g>
        </g>
      </symbol>

      <symbol id="svg-female-unselected" viewBox="0 0 22 30">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>A5394CBC-B3E1-4EE3-8D4F-1AF670E75903</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-196.000000, -219.000000)" fill="#B1BFCD">
            <path
              d="M214.74606,229.551461 C214.744779,225.047288 211.074642,221.345121 206.609204,221.343655 C202.029837,221.342097 198.351282,224.994878 198.351007,229.543765 C198.350733,234.080648 202.019314,237.762566 206.545056,237.767697 C211.063387,237.772828 214.747341,234.082023 214.74606,229.551461 M207.715452,245.785012 C207.715452,246.359051 207.71957,246.907253 207.714262,247.45527 C207.70868,248.037465 207.360398,248.496788 206.83889,248.624516 C206.079643,248.810517 205.397721,248.274319 205.383263,247.471672 C205.374752,246.998513 205.381524,246.525079 205.381524,246.051828 L205.381524,245.785012 C204.860657,245.785012 204.366785,245.785287 203.872913,245.785012 C203.166924,245.784645 202.653194,245.314876 202.635075,244.6537 C202.616682,243.981712 203.118698,243.470619 203.831642,243.451561 C204.265942,243.439924 204.700791,243.448904 205.135366,243.448537 L205.381524,243.448537 L205.381524,242.99407 C205.381524,242.100895 205.373746,241.207537 205.386923,240.314638 C205.390309,240.090061 205.325155,240.031237 205.10224,239.996144 C201.616859,239.447302 198.973632,237.640519 197.282186,234.545103 C195.104189,230.558986 195.751338,225.698569 198.840212,222.377385 C200.57183,220.515535 202.712126,219.416293 205.230626,219.087628 C210.638695,218.381738 215.721267,222.012803 216.851857,227.3735 C217.781767,231.782657 215.826136,236.270429 211.964838,238.593068 C210.707326,239.349444 209.350802,239.819397 207.897737,240.011171 C207.785822,240.025923 207.713713,240.047455 207.714171,240.184253 C207.717465,241.260223 207.716001,242.3361 207.716001,243.448537 C207.809248,243.448537 207.889044,243.448262 207.968931,243.448629 C208.433886,243.450919 208.899756,243.436534 209.363705,243.459899 C209.970316,243.490319 210.415231,243.946069 210.460802,244.54613 C210.50436,245.12017 210.115632,245.638226 209.535284,245.761097 C209.395825,245.790601 209.247581,245.783271 209.103363,245.784095 C208.647925,245.786661 208.192486,245.785012 207.715452,245.785012"
              id="Page-1"></path>
          </g>
        </g>
      </symbol>

      <symbol id="svg-female-selected" viewBox="0 0 22 30">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>D006EEF7-0066-4326-BEC9-8057EEEAFF90</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-356.000000, -219.000000)" fill="#FFFFFF">
            <path
              d="M374.74606,229.551461 C374.744779,225.047288 371.074642,221.345121 366.609204,221.343655 C362.029837,221.342097 358.351282,224.994878 358.351007,229.543765 C358.350733,234.080648 362.019314,237.762566 366.545056,237.767697 C371.063387,237.772828 374.747341,234.082023 374.74606,229.551461 M367.715452,245.785012 C367.715452,246.359051 367.71957,246.907253 367.714262,247.45527 C367.70868,248.037465 367.360398,248.496788 366.83889,248.624516 C366.079643,248.810517 365.397721,248.274319 365.383263,247.471672 C365.374752,246.998513 365.381524,246.525079 365.381524,246.051828 L365.381524,245.785012 C364.860657,245.785012 364.366785,245.785287 363.872913,245.785012 C363.166924,245.784645 362.653194,245.314876 362.635075,244.6537 C362.616682,243.981712 363.118698,243.470619 363.831642,243.451561 C364.265942,243.439924 364.700791,243.448904 365.135366,243.448537 L365.381524,243.448537 L365.381524,242.99407 C365.381524,242.100895 365.373746,241.207537 365.386923,240.314638 C365.390309,240.090061 365.325155,240.031237 365.10224,239.996144 C361.616859,239.447302 358.973632,237.640519 357.282186,234.545103 C355.104189,230.558986 355.751338,225.698569 358.840212,222.377385 C360.57183,220.515535 362.712126,219.416293 365.230626,219.087628 C370.638695,218.381738 375.721267,222.012803 376.851857,227.3735 C377.781767,231.782657 375.826136,236.270429 371.964838,238.593068 C370.707326,239.349444 369.350802,239.819397 367.897737,240.011171 C367.785822,240.025923 367.713713,240.047455 367.714171,240.184253 C367.717465,241.260223 367.716001,242.3361 367.716001,243.448537 C367.809248,243.448537 367.889044,243.448262 367.968931,243.448629 C368.433886,243.450919 368.899756,243.436534 369.363705,243.459899 C369.970316,243.490319 370.415231,243.946069 370.460802,244.54613 C370.50436,245.12017 370.115632,245.638226 369.535284,245.761097 C369.395825,245.790601 369.247581,245.783271 369.103363,245.784095 C368.647925,245.786661 368.192486,245.785012 367.715452,245.785012"
              id="Page-1-Copy-2"></path>
          </g>
        </g>
      </symbol>

      <symbol id="svg-membership-unselected" viewBox="0 0 27 19">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>168406D8-41AC-40A8-9FA7-1FA1D54A4A84</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-194.000000, -313.000000)" stroke-width="2.11682885" stroke="#B1BFCD">
            <g id="Group" transform="translate(196.000000, 315.000000)">
              <g>
                <rect id="Rectangle-33" x="0" y="0" width="23.2754954" height="15.8900888" rx="2.11682885"></rect>
                <path d="M0,5.29669627 L22.7705384,5.29669627" id="Line" stroke-linecap="square"></path>
                <ellipse id="Oval-15" cx="17.9856101" cy="10.5933925" rx="2.11595413" ry="2.11867851"></ellipse>
                <ellipse id="Oval-15" cx="13.7537018" cy="10.5933925" rx="2.11595413" ry="2.11867851"></ellipse>
              </g>
            </g>
          </g>
        </g>
      </symbol>

      <symbol id="svg-membership-selected" viewBox="0 0 27 19">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>26330117-1213-4EB7-812A-5BE4178E1618</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-115.000000, -313.000000)" stroke-width="2.11682885" stroke="#FFFFFF">
            <g id="Group" transform="translate(117.000000, 315.000000)">
              <g>
                <rect id="Rectangle-33" x="0" y="0" width="23.2754954" height="15.8900888" rx="2.11682885"></rect>
                <path d="M0,5.29669627 L22.7705384,5.29669627" id="Line" stroke-linecap="square"></path>
                <ellipse id="Oval-15" cx="17.9856101" cy="10.5933925" rx="2.11595413" ry="2.11867851"></ellipse>
                <ellipse id="Oval-15" cx="13.7537018" cy="10.5933925" rx="2.11595413" ry="2.11867851"></ellipse>
              </g>
            </g>
          </g>
        </g>
      </symbol>

      <symbol id="svg-calendar-select" viewBox="0 0 27 19">
        <!-- Generator: sketchtool 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
        <title>71B947F2-7A11-4A57-9590-FCD6CAE05B36</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Assets" transform="translate(-115.000000, -138.000000)">
            <g id="Group" transform="translate(117.000000, 138.000000)">
              <rect id="Rectangle-55" stroke="#B1BFCD" stroke-width="2.44249483" stroke-linecap="square" x="0"
                y="3.60175347" width="15.869656" height="14.4070139"></rect>
              <path d="M1.22074277,6.00292244 L14.6489132,6.00292244" id="Line" stroke="#B1BFCD"
                stroke-width="4.88498966" stroke-linecap="square"></path>
              <g id="Path-99-+-Path-99" transform="translate(10.986685, 0.000000)">
                <path d="M1.22074277,0 L1.22074277,6.00292244" id="Path-99" stroke="#F5F8F9" stroke-width="4.88498966">
                </path>
                <path d="M1.22074277,0 L1.22074277,4.80233795" id="Path-99" stroke="#B1BFCD" stroke-width="2.44249483">
                </path>
              </g>
              <g id="Path-99-+-Path-99-Copy" transform="translate(2.441486, 0.000000)">
                <path d="M1.22074277,0 L1.22074277,6.00292244" id="Path-99" stroke="#F5F8F9" stroke-width="4.88498966">
                </path>
                <path d="M1.22074277,0 L1.22074277,4.80233795" id="Path-99" stroke="#B1BFCD" stroke-width="2.44249483">
                </path>
              </g>
            </g>
          </g>
        </g>
      </symbol>

    </defs>
  </svg>
</div>
