$grid__cols: 12;

$grid__bp-sm: 320;
$grid__bp-md: 1024;
$grid__bp-lg: 1440;

// Colors
//
// All the colors used
//
// Colors:
// $avatar-primary-color: #ffd500
// $avatar-secondary-color: #383838
// $primary-color: #49c8a8
// $secondary-color: #373d40
// $tersiary-color: #f5f8f9
// $input-primary-color: #b1bfcd
// $input-secondary-color: #cad7dd
// $input-invalid-color: #ff9200
// $blurb-primary-color: #383838
// $blurb-secondary-color: #ff9200
// $form-color: #ffffff
// $button-submit-color: #ffffff
// $button-submit-hover-color: #3f9e86
// $button-cancel-hover-color: #dadcdc
//
// Styleguide Colors
$avatar-primary-color: #ffd500;
$avatar-secondary-color: #383838;
$primary-color: #49c8a8;
$secondary-color: #373d40;
$tersiary-color: #f5f8f9;
$input-primary-color: #b1bfcd;
$input-secondary-color: #cad7dd;
$input-invalid-color: #ff9200;
$blurb-primary-color: #383838;
$blurb-secondary-color: #ff9200;
$form-color: #ffffff;
$button-submit-color: #ffffff;
$button-submit-hover-color: #3f9e86;
$button-cancel-hover-color: #dadcdc;

$map-grid-props: ('': 0,  '-sm': $grid__bp-sm,  '-md': $grid__bp-md,  '-lg': $grid__bp-lg);

// create-mq($breakpoint)
//
// Set maximum content width based on breakpoint.
//
// $breakpoint - One of three possible screen width values.
//
// Weight: -10
//
// Styleguide Sass.mixins.create-mq
@mixin create-mq($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  }
    @else {
      @media screen and (min-width: $breakpoint *1px) {
        max-width: $breakpoint * 1px;
        @content;
      }
    }
}

// create-col-classes($modifier, $grid__cols, $breakpoint)
//
// Create the different columns for each breakpoint.
//
// $modifier - One of three modifier names.
// $grid-cols - The number of columns to construct the grid with.
// $breakpoint - One of three possible screen width values.
//
// Weight: -1
//
// Styleguide Sass.mixins.create-col-classes
@mixin create-col-classes($modifier, $grid__cols, $breakpoint) {
  @include create-mq($breakpoint) {
    @for $i from 1 through $grid__cols {
      &__col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid__cols / $i) ) * 1%;
      }
    }
  }
}

// Grid Container
//
// Grid container.
//
// Markup:
// <div class="container">A Grid Container</div>
//
// Styleguide Structural.container
.container {
  margin: 0 auto;
}

// Fluid Grid Container
//
// Fluid grid container.
//
// Markup:
// <div class="container--fluid">A Fluid Grid Container</div>
//
// Styleguide Structural.container-fluid
.container--fluid {
  margin: 0;
  max-width: 100%;
}

// Grid Container Row
//
// Grid container row.
//
// Markup:
// <div class="container__row">A Grid Container Row</div>
//
// Styleguide Structural.container-row
.container__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

// Grid Container Columns
//
// Grid container columns.
//
// Markup:
// <div class="{{modifier_class}}">A Grid Container Column</div>
//
// .container__col-sm-1 - small column
// .container__col-md-1 - medium column
// .container__col-lg-1 - large column
//
// Styleguide Structural.container-column
.container {
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}

// Date Picker Image
//
// Replace the default date picker arrow with another image.
//
// Markup:
// <input type="date">
//
// Styleguide Component.date-picker-image
[type="date"] {
  background: #fff url('/assets/calender.png')  96% 50% no-repeat;
  cursor: pointer;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

// Window Container
//
// The container housing the web app.
//
// Markup:
// <div class="container--window">A Window Container</div>
//
// Styleguide Structural.window-container
.container--window {
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 98vh;
}

// Landing Page Container
//
// The landing page container is centered by the window container.
//
// Markup:
// <div class="container--landing">A Landing Container</div>
//
// Styleguide Structural.landing-container
.container--landing {
  @extend .container;
  @media (min-width: 1440px) {
    width: 1360px;
    border-radius: 42.5px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    width: 975px;
    border-radius: 42.5px;
  }
  @media (max-width: 1023px) {
    width: 320px;
  }
  height: 892px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
  background-color: $form-color;
}

// Container Row for Mobile
//
// This container row is only active for mobile devices
//
// Markup:
// <div class="container__row--mobile">A Container Row for Mobile</div>
//
// Styleguide Structural.mobile-container-row
.container__row--mobile {
  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

// Landing Page Container Row
//
// The landing page container row.
//
// Markup:
// <div class="container__row--landing">A Landing Container</div>
//
// Styleguide Structural.landing-container-row
.container__row--landing {
  @extend .container__row;
  height: 892px;
}

// Lift Left Pane
//
// Lift the left pane via z-index.
//
// Markup:
// <div class="lift-left">Lifted Left Pane</div>
//
// Styleguide Structural.lift-left-pane
.lift-left {
  position: relative;
  height: 892px;
  z-index: 10;
}

// Lift Right Pane
//
// Lift the right pane via z-index.
//
// Markup:
// <div class="lift-right">Lifted Left Pane</div>
//
// Styleguide Structural.lift-right-pane
.lift-right {
  @media (min-width: 1440px) {
    position: absolute;
    z-index: 5;
    width: calc(1360 / (12 / 7) * 1px);
    height: 892px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    position: absolute;
    z-index: 5;
    width: calc(975 / (12 / 7) * 1px);
    height: 892px;
  }
  @media (max-width: 1023px) {
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 892px;
  }
}

// Account Form Container
//
// The container for the account form.
//
// Markup:
// <div class="container--account-form">The Account Form Container</div>
//
// Styleguide Structural.account-form-container
.container--account-form {
  @extend .container;
  width: 100%;
  height: 100%;
  background-color: $form-color;
  box-sizing: border-box;
  @media (min-width: 1440px) {
    padding-top: 100px;
    border-top-right-radius: 42.5px;
    border-bottom-right-radius: 42.5px;
    padding-left: 12%;
    padding-right: 15%;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    border-top-right-radius: 42.5px;
    border-bottom-right-radius: 42.5px;
    padding-top: 100px;
    padding-left: 19px;
    padding-right: 39.1px;
  }
  @media (max-width: 1023px) {
    padding-top: 20px;
    padding-left: 7px;
    padding-right: 20px;
  }
}

// Inline-flex Modifier
//
// Apply inline flex modifier to any element.
//
// Markup:
// <div class="span">Inline Flex Modifier</div>
//
// Styleguide Structural.inline-flex-modifier
.span {
  display: inline-flex;
}

// Apply Left Padding
//
// Apply left padding to any element.
//
// Markup:
// <div class="label">Left Padding Modifier</div>
//
// Styleguide Structural.left-padding-modifier
.label {
  padding-left: 5px;
}

// Error Dot Superscript
//
// A superscript dot on invalid input.
//
// Markup:
// <div class="form-input-invalid"></div>
//
// Styleguide Component.super-script-error-dot
.form-input-invalid {
  height: 8px;
  width: 8px;
  background-color: $input-invalid-color;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

// Row Hight Extender for Mobile
//
// A row height extender for mobile devices.
//
// Markup:
// <div class="row-extender">Row Hight Extender for Mobile</div>
//
// Styleguide Structural.mobile-row-height-extender
.row-extender {
  @media (max-width: 1023px) {
    height: 185px;
  }
}

// Form Input Row
//
// A row that may contain a input and label.
//
// Markup:
// <div class="container__row--form-input-row">Form Input Row</div>
//
// Styleguide Structural.form-input-row
.container__row--form-input-row {
  @extend .container__row;
  @media (min-width: 1024px) {
    height: 75px;
  }
  @media (max-width: 1023px) {
    height: 95px;
  }
}

// Form Row Divider
//
// A row that that adds an empty row with fixed hight.
//
// Markup:
// <div class="container__row--form-divide">Form Row Divider</div>
//
// Styleguide Structural.form-row-divider
.container__row--form-divider {
  @extend .container__row;
  @media (min-width: 1024px) {
    height: 75px;
  }
  @media (max-width: 1023px) {
    height: 0px;
  }
}

// Form Row Divider for Mobile
//
// A row that that adds an empty row with fixed hight on mobile devices.
//
// Markup:
// <div class="container__row--form-divider-mobile">Form Row Divider for Mobile</div>
//
// Styleguide Structural.mobile-form-row-divider
.container__row--form-divider-mobile {
  @media (max-width: 1023px) {
    height: 50px;
  }
}

// Form Label
//
// Form label styling.
//
// Markup:
// <div class="container__label--form {{modifier_class}}">Form Label</div>
//
// .container__label--form-input-invalid - Label styling for invalid input
//
// Styleguide Component.form-label
.container__label--form {
  @extend .container;
  margin-left: 12px;
  font-family: Arial;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  @media (min-width: 1024px) {
    height: 53px;
  }
  @media (max-width: 1023px) {
    padding-bottom: 5px;
  }
  color: $secondary-color;
}

.container__label--form-input-invalid {
  @extend .container;
  color: $input-invalid-color;
}


// Form Input
//
// Form input styling.
//
// Markup:
// <Input type="text" value="Form Input" class="container__input--form {{modifier_class}}">
//
// .form__input--invalid - Input styling on invalid input
//
// Styleguide Component.form-input
.container__input--form {
  @extend .container;
  @media (min-width: 1024px) {
    height: 53px;
    width: 100%;
  }
  @media (max-width: 1023px) {
    width: 280px;
    height: 46px;
  }
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 16.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: $input-primary-color;
  border-radius: 5.3px;
  border: solid 1.2px $tersiary-color;
  outline: none;
  background-color: rgba(245, 248, 249, 0.3);
}

.container__input--form:focus {
  color: $secondary-color;
  border: solid 1.2px $input-secondary-color;
}

.form__input--invalid {
  border-radius: 5.3px;
  color:  $input-invalid-color;
  border: solid 1.2px $input-invalid-color;
}

.form__input--invalid:focus {
  border-radius: 5.3px;
  color:  $input-invalid-color;
  border: solid 1.2px $input-invalid-color;
}

// Form Input Subscript
//
// Form input Subscript.
//
// Markup:
// <div class="form__input--error">Input Subscript</div>
//
// Styleguide Component.input-subscript
.form__input--error {
  width: 100%;
  @media (min-width: 1024px) {
    padding-top: 1.4px;
    padding-bottom: 6.6px;
  }
  @media (max-width: 1023px) {
    padding-top: 1px;
    padding-bottom: 3px;
  }
  font-family: Arial;
  font-size: 12px;
  text-align: right;
  color: $input-invalid-color;
}

// Input Badge Container
//
// A selectable input badge container.
//
// Markup:
// <div class="{{modifier_class}}"></div>
//
// .input-badge--unselected - unselected input badge
// .input-badge--selected - selected input badge
//
// Styleguide Component.input-badge-container
.input-badge--unselected {
  @media (min-width: 1024px) {
    height: 53px;
    width: 53px;
  }
  @media (max-width: 1023px) {
    margin-left: 10px;
    height: 46px;
    width: 46px;
  }
  float: left;
  cursor: pointer;
  background-color: $tersiary-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-badge--selected {
  @media (min-width: 1024px) {
    height: 53px;
    width: 53px;
  }
  @media (max-width: 1023px) {
    margin-left: 10px;
    height: 46px;
    width: 46px;
  }
  float: left;
  cursor: pointer;
  background-color: $input-primary-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Input Badge Label
//
// A selectable input badge label.
//
// Markup:
// <div class="input-badge__label">Input Badge Label</div>
//
// Styleguide Component.input-badge-label
.input-badge__label {
  @media (min-width: 1440px) {
    padding-left: 18px;
    width: 15%;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-left: 12px;
    width: 15%;
  }
  @media (max-width: 1023px) {
    padding-left: 20px;
  }
  float: left;
  font-family: Arial;
  font-size: 14px;
  line-height: 53px;
  color: $input-primary-color;
}

// Form Button Container
//
// A form button container.
//
// Markup:
// <div class="container__button">Button Container</div>
//
// Styleguide Component.button-container
.container__button {
  @extend .container;
  margin-bottom: 10px;
  @media (min-width: 1024px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Form Button Styling
//
// A form button.
//
// Markup:
// <button class="{{modifier_class}}">Button</button>
//
// .button--cancel - cancel button
// .button--submit - submit button
//
// Styleguide Component.form-button
.button {
  @media (min-width: 1024px) {
    height: 53px;
  }
  @media (max-width: 1023px) {
    height: 46px;
  }
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5.3px;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  transition: 0.25s;
}

/* Cancel button styling */
.button--cancel {
  @extend .button;
  background-color: $tersiary-color;
  color: $secondary-color;
}

/* Cancel button styling on hover */
.button--cancel:hover {
  background-color: $button-cancel-hover-color;
}

/* Submit button styling */
.button--submit {
  @extend .button;
  background-color: $primary-color;
  color: $button-submit-color;
}

/* Submit button styling on hover */
.button--submit:hover {
  background-color: $button-submit-hover-color;
}

// Form Submit Button Disabled
//
// A form submit button disabled.
//
// Markup:
// <button disabled class="button--submit button--submit:disabled">Button</button>
//
// Styleguide Component.form-button-disabled
.button--submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

// Induced invisibility during runtime to ensure no form deformation when becoming visible
.invisible {
  visibility: hidden;
}

// Blurb Panel Container
//
// Blurb panel container.
//
// Markup:
// <div class="container--blurb-panel">Blurb Panel Container</div>
//
// Styleguide Structural.blurb-panel-container
.container--blurb-panel {
  @extend .container;
  width: 100%;
  height: 100%;
  background-color: $blurb-secondary-color;
  @media (min-width: 1440px) {
    border-top-right-radius: 42.5px;
    border-bottom-right-radius: 42.5px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    border-top-right-radius: 42.5px;
    border-bottom-right-radius: 42.5px;
  }
}

// Blurb Panel
//
// Blurb panel.
//
// Markup:
// <div class="container--user-blurb">Blurb Panel</div>
//
// Styleguide Structural.blurb-panel
.container--user-blurb {
  @extend .container;
  @media (min-width: 1440px) {
    padding-top: 161px;
    padding-left: 106.5px;
    padding-right: 124px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 164px;
    padding-left: 82px;
    padding-right: 81px;
  }
  @media (max-width: 1023px) {
    padding-top: 69px;
    padding-left: 20px;
    padding-right: 37px;
  }
}

// Blurb Title
//
// Blurb title container.
//
// Markup:
// <div class="container--user-blurb-title">Blurb Title</div>
//
// Styleguide Component.blurb-title
.container--user-blurb-title {
  @extend .container;
  font-family: Arial;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: $blurb-primary-color;
}

// Blurb Text Container
//
// Blurb text container.
//
// Markup:
// <div class="container__row--user-blurb-text">Blurb Text Container</div>
//
// Styleguide Structural.blurb-text-container
.container__row--user-blurb-text {
  @extend .container__row;
  width: 100%;
  @media (min-width: 1440px) {
    padding-top: 44.1px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 44px;
  }
  @media (max-width: 1023px) {
    padding-top: 21px;
  }
}

// Blurb Text
//
// Blurb text.
//
// Markup:
// <div class="container--blurb-text">Blurb Text</div>
//
// Styleguide Component.blurb-text
.container--blurb-text {
  @extend .container;
  font-family: Arial;
  font-size: 18px;
  line-height: 1.53;
  text-align: left;
  color: $blurb-primary-color;
}

// Blurb Subtext
//
// Blurb subtext.
//
// Markup:
// <div class="user-blurb__text-style">Blurb Subtext</div>
//
// Styleguide Component.blurb-subtext
.user-blurb__text-style {
  font-weight: bold;
  text-decoration: underline;
}

// Avatar Container
//
// Avatar container.
//
// Markup:
// <div class="container--avatar">Avatar Container</div>
//
// Styleguide Structural.avatar-container
.container--avatar {
  @extend .container;
  width: 100%;
  height: 100%;
  @media (min-width: 1024px) {
    border-top-left-radius: 42.5px;
    border-bottom-left-radius: 42.5px;
  }
  background-color: $avatar-primary-color;
}

// Avatar Container Row
//
// Avatar container row.
//
// Markup:
// <div class="container__row--avatar">Avatar Container Row</div>
//
// Styleguide Structural.avatar-container-row
.container__row--avatar {
  @extend .container__row;
  @media (min-width: 1440px) {
    padding-top: 161px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 115px;
  }
  @media (max-width: 1023px) {
    padding-top: 115px;
  }
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

// Avatar Container Title Row
//
// Avatar container title row.
//
// Markup:
// <div class="container__row--title">Avatar Container Title Row</div>
//
// Styleguide Structural.avatar-container-title-row
.container__row--title {
  @extend .container__row;
  @media (min-width: 1440px) {
    padding-top: 117px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 100px;
  }
  @media (max-width: 1023px) {
    padding-top: 93px;
  }
}

// Container Title Text
//
// Container title text.
//
// Markup:
// <div class="container--title-text">Container Title Text</div>
//
// Styleguide Component.container-title-text
.container--title-text {
  @extend .container;
  font-family: Arial;
  @media (min-width: 1440px) {
    font-size: 36px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    font-size: 24px;
  }
  @media (max-width: 1023px) {
    font-size: 36px;
  }
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: $avatar-secondary-color;
}

// Container Row Text
//
// Container row text.
//
// Markup:
// <div class="container__row--text">Container Row Text</div>
//
// Styleguide Structural.container-row-text
.container__row--text {
  @extend .container__row;
  @media (min-width: 1440px) {
    padding-top: 17px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 22px;
  }
  @media (max-width: 1023px) {
    padding-top: 24px;
  }
  width: 100%;
}

// Container Text
//
// Container text.
//
// Markup:
// <div class="container--text">Container Text</div>
//
// Styleguide Component.container-text
.container--text {
  @extend .container;
  @media (min-width: 1440px) {
    padding-left: 100px;
    padding-right: 100.8px;
    height: 55.3px;
    font-size: 22px;
    line-height: 1.26;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-left: 41px;
    padding-right: 40px;
    height: 55.3px;
    font-size: 18px;
    line-height: 1.53;
  }
  @media (max-width: 1023px) {
    padding-left: 27px;
    padding-right: 27px;
    height: 82.9px;
    font-size: 22px;
    line-height: 1.26;
  }
  font-family: Arial;
  text-align: center;
  color: $avatar-secondary-color;
}


// Panel Selector Container
//
// Panel selector container.
//
// Markup:
// <div class="container__row--show-panel">Panel Selector Container</div>
//
// Styleguide Component.panel-selector-container
.container__row--show-panel {
  @extend .container__row;
  @media (min-width: 1440px) {
    padding-top: 76.8px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 110.8px;
  }
  @media (max-width: 1023px) {
    padding-top: 42.1px;
  }
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.rotate_forward {
  @media (min-width: 1024px) {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  @media (max-width: 1023px) {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.rotate_back {
  @media (min-width: 1024px) {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  @media (max-width: 1023px) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
